{% extends "OrgaController/base.html" %}

{% block menu %}
<!--
    {{parent()}}
    test
-->
{% endblock %}


{% block header %}
<a href="{{ path('orga.index') }}" data-target="body"  class="ui basic inverted button">
    <i class="factory icon"></i>Organisations
</a>
{% endblock %}

{% block body %}
<ul>
    {% for orga in all %}
        <a href="{{path('orga.getOne',[orga.id])}}">
            <li>{{orga}}
                <a> Edit</a>
                <a href="http://127.0.0.1:8090/orga/remove/{{orga.id}}"> Del</a>
            </li>
        </a>
    {% endfor %}
</ul>

<a href="http://127.0.0.1:8090/orga/frmAdd">Ajouter</a>
{% endblock %}