<div class="ui inverted segment">
    <div class="ui label">{{title}}Titre</div>
    <form action="{{path('todos.add')}}" method="post">
        <input type="text" name="elm"/>
    </form>
</div>

<div class="ui segment">
    {% for elm in list%}
        <div>
            {{elm}}
            <!--
            <form action="{{path('todos.edit')}}" method="post">
                <input type="text" name="elm2" value="{{elm}}"/>
            </form>
            -->
            <a href="{{path('todos.delete',[loop.index0])}}">   Del</a>
            <a href="{{path('todos.edit',[loop.index0])}}">   Edit</a>
        </div>
    {% endfor %}
</div>